body {
    background-color: #e74c3c;
}

section {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 15px;
    background-color: #FFFFF0;
    border-radius: 10px;
    padding: 10px;
}

section.title-holder {
    padding: 20px;
    text-align: center;
}

section .section-title {
    font-family: "Helvetica";
    margin-top: 0px;
    margin-bottom: 15px;
}

section .section-title.main-title {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 48px;
}

.configuration-stack {
  margin-top: 15px;
  margin-bottom: 15px;
}

.configuration-stack > .stack-item:not(:last-child) {
  margin-bottom: 15px;
}
